nav.navbar-default{
	background-color: #175975 !important;
	border-color: #175975 !important;
}
nav.navbar-default .navbar-nav > .active > a::after{
	display: none !important;
}
nav.navbar-default .navbar-nav > .active > a, 
nav.navbar-default .navbar-nav > .active > a:hover{
	font-weight: bold !important;
}
nav.navbar-default .navbar-nav > li > a{
	color: white !important;
}
nav.navbar-default .navbar-nav > li > a:hover{
	color: #3399ff !important;
}
div.property-price {
    width: 100% !important;
    max-width: 100% !important;
    padding: 8px 13px;
    background: #279890 !important;
    position: unset !important;
    background: none !important;
    color: #279890 !important;
}
div.property-features {
    padding: 2px 6px;
    background: #279890 !important;
    text-align: center;
    position: absolute;
    width: 100%;
}
a:link,a:visited,a {
    color: #279890 !important;
}
/* #footer a:link,#footer a:visited,#footer a {
    color: #44aaff !important;
} */
div#subscribe {
    color: white;
    background: #175975;
}
div.heading-title h2{
    border: none;
}
div.heading-title h2:after,
div.heading-title h2:before{
    display: none;
}
button.btn-primary{
    background: #279890;
    border-color: #279890;
}
#subscribe input,#subscribe button{border-radius: 10px;}
#footer{background-color: #175975 !important;}
/* 1-2-2020 */
#footer a,#footer p{color: white !important;font-size: 18px;}
#footer a{font-weight: 600;}
#footer ul{list-style: none;margin-left: 18%;}
#footer .credits{padding: 15px;}

@media screen and (max-width: 768px){
    .hide-on-mobile{
        display: none;
    }
    #footer{
        text-align: center;
    }
    #footer ul{
        margin-left: 13.5%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }
    div.search_hdc input[type=search] {
        width: 76%;
    }
}
